# For the Streamlit UI
streamlit
pandas
plotly
folium
streamlit-folium
fastapi
uvicorn
numpy
pydantic
gradio
setuptools
wheel
cython

# For the Data Ingestion Agent (Web Crawling & PDF processing)
requests
beautifulsoup4
PyMuPDF

# For the Knowledge Graph Agent (NLP & Relationship Extraction)
spacy
tqdm

# For the Satellite Data Processing (NetCDF files)
netCDF4
xarray
rasterio
geopandas

# For advanced RAG & Vector Search (future steps)
faiss-cpu
chromadb
neo4j
networkx


#for overall project management
python-dotenv
jupyterlab
ipywidgets
requests
scipy
scikit-learn
torch
transformers
tqdm
openai
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-community
datasets==3.6.0
matplotlib
google-generativeai
anthropic
chromadb
jupyter-dash
beautifulsoup4
pydub
modal
ollama
psutil
setuptools
speedtest-cli
sentence_transformers
feedparser
protobuf==3.20.2
